@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

html{
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 300;
}

.THEdiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    background: #111;
    width: 100%;
    flex-wrap: nowrap;
    font-weight: 600;
    font-size: 0.8rem;
}

.nav-div{
    display: flex;
    justify-content: space-between;
    /* min-width: 1000px; */
    max-width: none;
    align-items: center;
}

.nav-div div{
    display: flex;
    justify-content: space-between;
    min-width: 20vw;
    max-width: 1200px;
    width: 60vw;
    align-items: center;
    flex-wrap: wrap;
}

#nav-logo{
    height: 60px;
    width: 60px;
}

nav select{
    font-size: 1rem;
    padding: 5px;
    box-sizing: content-box;
}

.nav-item{
    color: #fff;
}

.nav-item-image{

}

#lang{
    width: 40px;
    height: 40px;
    /* background: #fff; */
}

#lang img{
    height: 40px;
    width: 40px;
}

.main{
    background: url("images/pexels-burst-374827.jpg")  no-repeat center center/cover;
    width: 100%;
    min-height: 90vh;
}

.offer{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.offer table{
    margin: 5% 0;
    height: 90%;
    background: #00000010;
    border-radius: 5px;
    max-width: 1200px;
    min-width: 300px;
    gap: 5px;
}

.offer table tr, .offer table td{
    border: 1px solid #0002;
}
