@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 500;
}

a{
    text-decoration: none;
}

html{
    font-family: "Inter", sans-serif;
    font-size: 24px;
}

.THEdiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background: #111;
    width: 100%;
    flex-wrap: nowrap;
    font-weight: 600;
    font-size: 0.8rem;
}

.nav-div{
    display: flex;
    justify-content: space-between;
    /* min-width: 1000px; */
    max-width: none;
    align-items: center;
}

.nav-div div{
    display: flex;
    justify-content: space-between;
    min-width: 20vw;
    max-width: 1000px;
    width: 60vw;
    align-items: center;
    flex-wrap: wrap;
}

#nav-logo{
    height: 60px;
    width: 60px;
}

nav select{
    font-size: 1rem;
    padding: 5px;
    box-sizing: content-box;
}

.nav-item{
    color: #fff;
}

.nav-item-image{

}

#lang{
    width: 40px;
    height: 40px;
    /* background: #fff; */
}

#lang img{
    height: 40px;
    width: 40px;
    font-size: 32px;
}

.main{
    background: url("images/pexels-burst-374827.jpg")  no-repeat center center/cover;
    background-attachment: fixed;
    width: 100%;
    min-height: 90vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.offer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    backdrop-filter: blur(15px);
    width: fit-content;
    margin: 50px auto;
    padding: 50px;
    box-sizing: content-box;
    border-radius: 25px;
    box-shadow: 0 0 1px #0007;
     max-width:100vw;
}

.offer table{
    margin: 5% 0;
    height: 90%;
    /* background: #00000010; */
    border-radius: 5px;
    max-width: 1200px;
    min-width: 300px;
    /* gap: 5px; */
    padding: 10px;
    border-spacing: 10px;
    font-size: 32px;
    line-height:64px;
    max-width:100vw;
}

.offer table tr, .offer table td{
    /* border: 1px solid #0002; */
}


@media only screen and (max-width:600px) {
    .nav{
        flex-direction: column;
    }

    .nav-div{
        flex-direction: column;
    }

    .nav-div div{
        flex-direction: column;
        text-align: center;
    }

    .offer table{
    font-size: 18px;
    line-height:36px;
    }   
    .offer{
        padding: 0;
        /* margin: 0; */
        border-radius: 0;
        /* Radio check */
    }
}